@font-face {
    font-family:myFirstFont;
    src:url(https://dl.dropbox.com/s/dx4xr95jrm2dv6e/OperatorMono-MediumItalic.woff?dl=0);
    font-weight: bold;
  }
  * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 font-family:myFirstFont;
}
body {
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
 label {
    width: 28px;
    height: 28px;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    top: 85vh;
    left: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 0.4s;
  }
  label::before {
    content: " ";
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: black;
    border-radius: 50%;
    transform: 0.4s;
  }
  label.active {
    border: 2px dashed gold;
  }
  label.active::before {
    width: 16px;
    height: 16px;
    background-color: orange;
  }
  body.dark {
    background-color: #666666;
    color: white;
    box-shadow: none;
  }
  


















 header {
    width: 93%;
    height: 70px;
    border-radius: 4px;
    background: rgba(255,255,255,0.3);
    position: fixed;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    top: 5px;
    margin: 5px 0px 5px 0px;
    z-index: 190;
     backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border: 1px solid black;
  }
  header > .logo {
    font-size: 50px;
    font-weight: bold;
    left: 20px;
    position: absolute;
    -webkit-text-stroke: 1px #00ccff;
    text-stroke: 1px #00ccff;
    z-index: 20202;
  }
  header > .github {
    font-size: 45px;
    position: absolute;
    right: 20px;
  }
   .githuba > i {
    color: black;
    text-decoration: none;
  }
  
   .animationcombo {
    width: 200px;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .animation {
    height: 50px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .animation-1 {
    height: 50px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotatez(180deg);
  }
  .animation > div {
    width: 8px;
    height: 34px;
    background: black;
  }
  .animation-1 > div {
    width: 8px;
    height: 34px;
    background: black;
  }
  .dot1 {
    animation: animate 0.5s linear infinite 0s;
  }
  .dot2 {
    animation: animate 0.5s linear infinite 0.2s;
  }
  .dot3 {
    animation: animate 0.5s linear infinite 0.3s;
  }
  .dot4 {
    animation: animate 0.5s linear infinite 0.4s;
  }
  .dot5 {
    animation: animate 0.5s linear infinite 0.5s;
  }
  .dot6 {
    animation: animate 0.5s linear infinite 0.6s;
  }
  .dot7 {
    animation: animate 0.5s linear infinite 0.7s;
  }
  .dot8 {
    animation: animate 0.5s linear infinite 0.8s;
  }
  .dot9 {
    animation: animate 0.5s linear infinite 0.9s;
  }
  .dot10 {
    animation: animate 0.5s linear infinite 1s;
  }
  .dot11 {
    animation: animate 0.5s linear infinite 1.1s;
  }
  .dot12 {
    animation: animate 0.5s linear infinite 1.2s;
  }
  .dot13 {
    animation: animate 0.5s linear infinite 1.3s;
  }
  .dot14 {
    animation: animate 0.5s linear infinite 1.4s;
  }
  .dot15 {
    animation: animate 0.5s linear infinite 1.5s;
  }
  @keyframes animate {
    100% {
      transform: rotatex(90deg);
      filter: hue-rotate(360deg);
    }
  }
  .welcome {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }
section {
   width: 100%;
   height: 110vh;
  /*
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
   */
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}
.textstroke {
  text-stroke: 1px #87daef;
  -webkit-text-stroke: 1px #87daef;
}
.secforbanner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.secforclock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner {
  width: 350px;
  height: 90px;
  border-radius: 0px;
  box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
  margin: 50px auto;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}
.banner:hover {
  box-shadow: none;
}
.banner > p {
  z-index: 4;
}
.banner::before {
  content: " ";
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  z-index: 3;
  
}
.banner::after {
  content: " ";
  position: absolute;
  width: 200%;
  height: 50%;
  background:-webkit-linear-gradient(left,rgb(252,179,41), rgba(0,204,255,0.75), rgb(252,20,208),rgba(42,255,0,0.83), rgba(244,10,219,0.745));
  z-index: 2;
  animation: animatee 3s linear infinite;
}
@keyframes animatee {
  100% {
    transform: rotateZ(360deg);
  }
}
.container {
  width: 355px;
  height: 355px;
  display: flex;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
/*
  border-top-left-radius: 350px;
  border-top-right-radius: 350px;
*/
  overflow: hidden;
}
.container::before {
  content:  "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:-webkit-linear-gradient(left,red 50%,black 50%);
  animation: animateed 2s linear infinite;
}
@keyframes animateed {
  100% {
    transform: rotatez(360deg);
    filter: hue-rotate (360deg);
  }
}

.container > .parentsclock {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container > .parentsclock::before {
  content:  "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:-webkit-linear-gradient(left,rgb(252,179,41), rgba(0,204,255,0.75), rgb(252,20,208),rgba(42,255,0,0.83), rgba(244,10,219,0.745));
  animation: animates 2s linear infinite;
  
}
@keyframes animates {
  100% {
    transform: rotatez(-360deg);
    filter: hue-rotate(360deg);
  }
}
.container > .parentsclock > .clock {
  width: 345px;
  height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  background: #e0e0e0;
  position: relative;
  box-shadow:inset 5px 5px 10px #bebebe,
           inset -5px -5px 10px #ffffff;
  border-radius: 50%;
  overflow: hidden;
}
.container > .parentsclock > .clock::before {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ff5c00;
  background-color: rgba(18,28,27,1);
  z-index: 9;
}
.clock > span {
  position: absolute;
  inset: 15px;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
}
.clock > span > b {
  font-size: 25px;
  font-weight: 800;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
  text-stroke: 1px #87daef;
  -webkit-text-stroke: 1px #87daef;

}
.circle {
  width: 230px;
  height: 230px;
  position: absolute;
  border-radius: 50%;
  opacity: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
}
.circle > i {
  position: absolute;
  background: var(--clr);
  width: 7px;
  height: 50%;
  transform-origin: bottom;
  opacity: 100%;
  transform:scale(0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.circle > i::before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 8px;
  opacity: 100%;
  background-color: white;
  border: 1px solid #00ff23;
  border-bottom: 1px solid black;
  top: -5px;
  border-radius: 50%;
  animation: cirbef 2s linear infinite;
}
.circle:nth-child(1) i {
  width: 2px;
}
.circle:nth-child(2) i {
  width: 5px;
}
.circle2 {
  width: 190px;
  height: 190px;
}
.circle3 {
  width: 150px;
  height: 150px;
}
.circle::before {
  content: " ";
  position: absolute;
  top: -8px;
  width: 8px;
  height: 8px;
  border: 1.5px dotted transparent;
  border-bottom: 1.5px dotted #00ff58;
  border-radius: 50%;
  background: var(--clr);
 /*
  box-shadow: 0px 0px 60px var(--clr),
              0px 0px 10px 1px var(--clr);
  */
  animation: cirbef 2s linear infinite;
  overflow: hidden;
}
@keyframes cirbef {
  100% {
    transform: rotatez(360deg);
  }
}
.termuxcus {
  font-weight: 800;
  font-size: 20px;
  text-decoration: underline;
}
.photo {
  width: 96%;
  height: 180px;
  position: relative;
  margin: 10px auto;
  border: 1px solid black;
  background-image:url('screenshot.jpg');
  background-size: cover;
}
.terpdf {
  width: 140px;
  padding: 10px;
  background-color: #005dff;
  text-decoration: none;
  font-weight: 700;
  color: white;
  text-align: center;
  border-radius: 20px;
}
.color-comb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.color-comb > a{
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  width: 270px;
  padding: 20px;;
  border-radius: 7px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
  transition: 0.2s;
}
.color-comb > a:active {
  box-shadow: none;
}